<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"
  ></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
  />
  <link
      rel="stylesheet"
      href="/css/todo-table.css"
  />
  <title>todoList</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="javascript:void(0)">
        <span id="userId" th:text="${session.dto.user.id}"></span>'s work
      </a>
    </div>
    <button type="button" onclick="logout()" class="btn btn-default navbar-btn navbar-right">logout</button>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="todolist not-done">
        <h1>TODO LIST</h1>
        <input
            id="content"
            type="text"
            class="form-control add-todo"
            placeholder="할일을 입력하고 엔터를 치세요"
            autofocus
        />
        <hr/>
        <ul id="todoList" class="list-unstyled">
          <li class="ui-state-default" >
            <div class="checkbox">
              <label>
                <input
                    onchange="setDoneY(0)"
                    type="checkbox"
                />
                <span>밥먹기</span>
              </label>
            </div>
          </li>
          <li class="ui-state-default" >
            <div class="checkbox">
              <label>
                <input
                    onchange="setDoneY(0)"
                    type="checkbox"
                />
                <span>잠자기</span>
              </label>
            </div>
          </li>
        </ul>
        <div class="todo-footer">
          <strong>
            <span id="todoCount" class="count-todos">2</span>
          </strong>
          항목 남았음
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="todolist">
        <h1>DONE LIST</h1>
        <ul id="doneList" class="list-unstyled">
          <li>
            <div class="checkbox">
              <label>
                <input
                    onchange="setDoneN(0)"
                    class="remove-item"
                    type="checkbox"
                />
                <span>일어나기</span>
              </label>
              <button
                  onclick="setDelete(0)"
                  class="remove-item btn btn-default btn-xs pull-right"
              >
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label>
                <input
                    onchange="setDoneN(0)"
                    class="remove-item"
                    type="checkbox"
                />
                <span>세수하기</span>
              </label>
              <button
                  onclick="setDelete(0)"
                  class="remove-item btn btn-default btn-xs pull-right"
              >
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
<script>
    console.log("스타일 참고", "https://bootsnipp.com/snippets/QbN51");

    const logout = () => {
      location.replace("/auth/logout");
    }

    const init = () => {
        fetch(`/api/v1/todo`)
            .then((response) => response.json())
            .then((result) => {
                if (result.code === 0) {

                    const todoList = result.data.todoList;
                    const doneList = result.data.doneList;

                    document.querySelector("#todoList").innerHTML = "";

                    for (const todo of todoList) {
                        document.querySelector("#todoList").insertAdjacentHTML(
                            "beforeend",
                            `
                            <li class="ui-state-default">
                                <div class="checkbox">
                                    <label>
                                        <input
                                            onchange="setDoneY(${todo.idx})"
                                            type="checkbox"
                                        />
                                        <span>${todo.content}</span>
                                    </label>
                                </div>
                            </li>
                            `
                        );
                    }

                    document.querySelector("#todoCount").innerText = todoList.length;

                    document.querySelector("#doneList").innerHTML = "";

                    for (const todo of doneList) {
                        document.querySelector("#doneList").insertAdjacentHTML(
                            "beforeend",
                            `
                            <li>
                                <div class="checkbox">
                                    <label>
                                        <input
                                            onchange="setDoneN(${todo.idx})"
                                            class="remove-item"
                                            type="checkbox"
                                        />
                                        <span>${todo.content}</span>
                                    </label>
                                    <button
                                        onclick="setDelete(${todo.idx})"
                                        class="remove-item btn btn-default btn-xs pull-right"
                                    >
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </li>
                            `
                        );
                    }
                } else {
                    console.log(result.message);
                }
            })
            .catch((error) => {
                alert(error.message);
            });
    };

    const contentInput = document.querySelector("#content");
    contentInput.addEventListener("keyup", (e) => {
        if (e.code !== "Enter") return;
        if (contentInput.value === "") return;

        // TODO: 할 일 저장

    });


    const setDoneY = (idx) => {

        // TODO: 할 일 완료
    };

    const setDoneN = (idx) => {

        // TODO: 할 일 미완료

    };

    const setDelete = (idx) => {

        // TODO: 할 일 삭제

    };
</script>
</html>
